/**
 * Animation de la fusée dans la bannière
 */
.rocket-banner {
    animation: rocket-banner 2s ease-in-out infinite;
}

@keyframes rocket-banner {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px) translateX(20px);
    }
    100% {
        transform: translateY(0);
    }
}
